@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: lato, sans-serif;

  /* overflow-y: auto;
  overflow-x: hidden; */
  overflow: auto;
  font-size: 1.6rem;
}

.navi-cont {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  color: rgba(18, 14, 14, 0.77);
}

.nav-menu {
  align-items: center;
  list-style-type: none;
}

.nav-item > a {
  text-decoration: none;
  display: flex;
  margin-left: 1rem;
  font-size: 2rem;
  color: rgba(18, 14, 14, 0.77);
}

.logo {
  text-decoration: none;
  font-size: 2.5rem;
}

.close {
  display: none;
}

.logo:hover,
.nav-item > a:hover {
  color: rgb(15, 15, 15);
  scale: 1.02;
}
