* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navi-cont {
  display: flex;
  justify-content: space-around;
  background-color: rgb(213, 209, 203);
  padding: 0.5rem;
  color: rgba(18, 14, 14, 0.77);
}

.nav-menu {
  align-items: center;
  list-style-type: none;
}

.nav-item > a {
  text-decoration: none;
  margin-left: 1rem;
  font-size: 1.6rem;
  color: rgba(18, 14, 14, 0.77);
}

.logo {
  text-decoration: none;
  font-size: 2rem;
}

.close {
  display: none;
}
